In [1]:
from pyxdameraulevenshtein import damerau_levenshtein_distance
import pandas as pd

In [2]:
df = pd.read_csv('to_python.csv')
df.head()

                          id incognito normal  dist_osa  dist_dl
0    aberrational_arthropods     UTBIV  BUJIV         3        3
1           alphabetic_shark     LWRQD  LDRWQ         3        3
2  arthromeric_hyracotherium     VIA2O  VIA32         2        2
3  asphyxiated_indigobunting     IV4MA  IV4MA         0        0
4          auroral_clingfish     IV3AM  VI3AM         1        1

In [3]:
df["pyxdameraulevenshtein"] = df.apply(
    lambda row : damerau_levenshtein_distance(
        row["incognito"],
        row["normal"]),
    axis = 1)

df.head()

,id,incognito,normal,dist_osa,dist_dl,pyxdameraulevenshtein
0,aberrational_arthropods,UTBIV,BUJIV,3,3,3
1,alphabetic_shark,LWRQD,LDRWQ,3,3,3
2,arthromeric_hyracotherium,VIA2O,VIA32,2,2,2
3,asphyxiated_indigobunting,IV4MA,IV4MA,0,0,0
4,auroral_clingfish,IV3AM,VI3AM,1,1,1

In [4]:
(df["dist_osa"] == df["pyxdameraulevenshtein"]).value_counts()

True    73
dtype: int64

In [ ]:
# The "osa" method form R package stringdist gave results equal 
# to method implemented in damerau_levenshtein_distance 
# form pyxdameraulevenshtein Python package